{% extends "base.html" %}


{% block scripts %}
{{ super() }}
<script src="//cdn.rawgit.com/hammerjs/touchemulator/0.0.2/touch-emulator.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block page_style %}
body {
    margin: 0;
    overflow:hidden;
    background: #222;
}

#visualRoot {
    background: inherit;
    margin:0;
    position:absolute;
    top:0px;
    left:0px;
}

#controls{
    position:absolute;
    top:0px;
    left:0px;
}


circle {
    fill: transparent;
    stroke-width: 2.5px;
    stroke:#550000;
    opacity:1;
}

<!--circle.channel{-->
    <!--opacity:1.0;-->
<!--}-->



{% endblock %}

{% block body %}
<svg id="visualRoot" class="no-select" ></svg>
<div id="controls" class="no-select">
    <fullscreen-button params='target:"#visualRoot"'/>
</div>
<script type="text/javascript" src="/static/clients/Visual.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        // prevent the default ios behavior
        document.ontouchmove = function (event) {
            event.preventDefault();
        }

        // Note this will block until the server has rendered the json
        var mixerViewModel = new MixerViewModel({{ mixer | tojson | safe }})

        var view = new MixerVisual({svgId:"visualRoot"},mixerViewModel);


//        var hammerOptions = {};
//
//        var visual = $("#visualRoot")
//        visual.height(window.innerHeight);
//        visual.width(window.innerWidth);
//
//        var hammer = new Hammer(visual[0], hammerOptions);
//
//        var svg = d3.select(visual[0]);
//
//
//        var i = 0;
//        function applyMovement(x, y) {
//
//            svg.insert("circle", "rect")
//                    .attr("cx", x)
//                    .attr("cy", y)
//                    .attr("r", 1e-6)
//                    .style("stroke", d3.hsl((i = (i + 1) % 360), 1, .5))
//                    .style("stroke-opacity", 1)
//                    .transition()
//                    .duration(2000)
//                    .ease(Math.sqrt)
//                    .attr("r", 100)
//                    .style("stroke-opacity", 1e-6)
//                    .remove();
//        }
//
//        socket.on("moved", function (data) {
//            applyMovement(data.ratioX * window.innerWidth, data.ratioY * window.innerHeight);
//        });
//
//        hammer.on('pan', function (ev) {
//            var x = ev.center.x, y = ev.center.y;
//            socket.emit("move", {ratioX: x / window.innerWidth, ratioY: y / window.innerHeight})
//            applyMovement(x, y);
//        });
//
//        hammer.on('swipe', function (ev) {
//            switch (ev.direction) {
//                case 2: // left
//                    console.log("Swipe Left");
//                    break;
//                case 4: // right
//                    console.log("swipe Right")
//                    break;
//                case 8: // up
//                    console.log("swipe up");
//                    break;
//                case 16: // Down
//                    console.log("swipe down");
//                    break;
//                default:
//                    console.log("Unknown swipe");
//                    break;
//            }
//        })
    });
</script>
{% endblock %}

